.product-title {
  font-weight: 700;
  font-size: 1.2rem;
}

.product-tags {
  font-size: 0.8rem;
}

.product-hover-text {
  padding: 20px;
  color: #f2a65a;
  font-size: 20px;
  font-weight: 700;
}

.overlay {
  background-color: #585123;
}
