/* Antique Bronze":"585123"
"Maximum Yellow Red":"eec170"
"Rajah":"f2a65a"
"Mango Tango":"f58549"
"Liver Organ":"772f1a" */

.App {
  background-color: #f2a65a;
  color: #585123;
  font-family: 'Roboto Mono', monospace;
}

section {
  margin-bottom: 100px;
}

h5 {
  font-weight: 700;
}

.section-title {
  font-weight: 700;
  margin-bottom: 30px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  color: #585123;
}

.navbar-links {
  display: flex;
  flex-direction: row;
}

.navbar-link {
  color: #585123;
  text-decoration: none;
}

.navbar-link:hover {
  color: #585123;
}

.intro-text {
  font-weight: 700;
  max-width: 900px;
  text-align: left;
  margin-top: 100px;
}

.intro-subtext {
  max-width: 900px;
  margin-top: 30px;
}

.products-showcase {
  display: flex;
  flex-direction: row;
}

.product-card {
  margin-bottom: 30px;
}

.skills-section p {
  margin: 20px 0;
}

.skills-section h5 {
  text-decoration: underline;
}

.about-picture {
  width: 300px;
  box-shadow: 10px 10px #585123;
}

footer {
  height: 100px;
  text-align: center;
}

.underline-text {
  text-decoration: none;
  background-image: linear-gradient(180deg, transparent 65%, #f58549 0);
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s ease;
}

.underline-text:hover {
  background-size: 100% 100%;
}
